/* 홈 버튼 스타일 */
#homeBtn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

/* 웹툰 추가 버튼 스타일 */
#addComicBtn {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 100px;
    height: 50px;
    background-color: #ff6347;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

/*팝업창*/
.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #333;
    padding: 20px;
    max-width: 80%; /* 최대 너비 조정 */
}

.popup-content {
    width: 100%; /* 내용 너비 조정 */
}

/*웹툰 박스*/
.comic-box {
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    max-width: 100%; /* 최대 너비 조정 */
}

.comic-box h3 {
    margin-right: 10px;
}

.delete-btn {
    margin-left: auto;
}

