/* analysis_styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}

h1, h2 {
    text-align: left; /* 텍스트를 왼쪽 정렬로 설정 */
}

p {
    font-size: 18px;
  }

h1#comicTitle {
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    border-radius: 5px; 
    text-align: center;
    padding: 20px 0;
}

.box {
    border: 2px solid #007bff; /* 테두리 스타일 및 색상 */
    border-radius: 5px; /* 테두리 모서리 둥글게 */
    padding: 10px; /* 내부 여백 */
    margin-bottom: 20px; /* 하단 여백 */
    text-align: center;
    display: inline-block;
    width: calc(50% - 20px); /* 페이지의 50%를 차지하고 마진 고려하여 크기 조정 */
    box-sizing: border-box; /* 테두리와 여백을 포함하여 요소의 크기를 계산 */
}

.box h3 {
    margin-top: 0; /* 상단 여백 제거 */
}

#starRating {
    color: red; /* 별점 색상 */
}

#commentBox p {
    margin: 0; /* 단락 간격 제거 */
    font-size: 15px;
}

#homeBtn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.graphbox {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto 20px;
    text-align: center;
    width: 90%; /* 부모 요소의 90%만큼을 차지하도록 설정 */
    box-sizing: border-box;
}

.textbox{
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto 20px;
    text-align: center;
    width: 90%; /* 부모 요소의 90%만큼을 차지하도록 설정 */
    box-sizing: border-box; 
}

#commentChart {
    width: 100%; /* 부모 요소에 맞게 채움 */
    height: auto; /* 높이 자동 조정 */
    max-width: 400px; /* 최대 너비 설정 */
    max-height: 400px; /* 최대 높이 설정 */
    display: block;
    margin: 0 auto; /* 가운데 정렬 */
}

/* 섹션 스타일 */
.section {
    width: 100px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center; /* 가운데 정렬 */
}

/* 섹션 제목 스타일 */
.section p {
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}

#pdfBtn{
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    width: 100px;
    height: 50px;
    background-color: #ff6347;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    cursor: pointer;
}