<!--templetes/index.html-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹툰 작가를 위한 피드백 서비스</title>
    <!-- CSS 링크 -->
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>웹툰작가를 위한 피드백 서비스</h1>
    </header>
    <main>
        <!-- 웹툰 추가 버튼 -->
        <button id="addComicBtn">웹툰 추가</button>
    </main>
    <!-- JavaScript 파일 링크 -->
    <script src="../static/scripts.js"></script>
</body>
</html>